﻿@page
@using Emenu.Localization
@using Emenu.Web.Pages.Products
@using Microsoft.Extensions.Localization
@model IndexModel
@inject IStringLocalizer<EmenuResource> L
@section scripts
{
    <abp-script src="/Pages/Products/Index.js" />
}
<abp-card>
    <abp-card-header>
        <h2>@L["Products"]</h2>
    </abp-card-header>
    <abp-card-body>
        <abp-table striped-rows="true" id="ProductsTable"></abp-table>
    </abp-card-body>
</abp-card>
